@import "../../index.scss";

.search-container {
  text-align: center;
  padding: 20px; // Adjust padding according to your design

  .search-form {
    max-width: 300px; // Adjust the maximum width according to your design
    margin: 0 auto; // Center the form
    padding: 10px;

    .inp-box {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      border: 1px solid $secondary-color;
      border-radius: 5px;
      margin-top: 8px; // Adjust margin according to your design
      box-sizing: border-box;

      &:focus {
        outline: none;
        border-color: $primary-color; // Use your primary color for focus
      }
    }
  }
}

// Media query for larger screens (optional)
@media (min-width: 768px) {
  .search-container {
    .search-form {
      max-width: 400px; // Adjust for larger screens
    }
  }
}
