@import "../../index.scss";

.search-container {
  text-align: center;
  padding: 10px 0;

  .search-form {
    margin: 0; // Center the form
    padding: 4px;
    border: 1px solid $primary-color;
    border-radius: 25px;
    display: flex;
    align-items: center;

    span {
      padding-left: 10px;
      // margin-left: 10px 0;
      margin-top: 2px;
    }

    .inp-box {
      width: 100%;
      padding: 0 10px;

      font-size: 20px;
      border: none;
      // border-radius: 5px;
      // margin-top: 8px; // Adjust margin according to your design
      box-sizing: border-box;

      &:focus {
        outline: none;
        border-color: $primary-color; // Use your primary color for focus
      }
    }
  }
}

// Media query for larger screens (optional)
@media (min-width: 768px) {
  .search-container {
  }
}
