@import "../../index.scss";

.todo-list {
  padding: 10px 30px;
  // height: 100vh;
  // background-color: $gray;

  .todoData {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  // Style each todo item container
  .todoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 15px;
    width: 100%;
    background-color: $white;
    -webkit-box-shadow: 0px 3px 12px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 12px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 3px 12px -7px rgba(0, 0, 0, 0.75);

    &:hover {
      // box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
    }
  }

  // Style the link wrapping the Todo component
  a {
    text-decoration: none;
    color: inherit;
  }
}
