@import "../../index.scss";

.body-container {
  height: 100vh;
  text-align: center;
  background: linear-gradient(to bottom, $primary-color, $white 80%);

  .hero-container {
    // height: max-content;
    svg {
      margin-top: 10em;
    }
  }
  .btn {
    margin-top: 13em;
    a {
      display: inline;
      background-color: $primary-color;
      color: white;
      padding: 3% 13%;
      border-radius: 15px;
      color: $white;
      text-decoration: none;
    }
  }
}

@media (min-width: 1024px) {
  .body-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    background: $white;

    .hero-container {
      svg {
        width: 44em;
      }
    }

    .content {
      width: 30%;
    }

    .btn {
      a {
        position: absolute;
        padding: 1em 6em;
        left: 63%;
        background-color: $primary-color;
        border-radius: 15px;
        text-decoration: none;
        top: 48%;
      }
    }
  }
}
