@import "../../index.scss";

.body-container {
  height: 100vh;
  text-align: center;
  background: linear-gradient(to bottom, $primary-color, $white 80%);

  .hero-container {
    // height: max-content;
    svg {
      margin-top: 10em;
    }
  }
  .btn {
    margin-top: 13em;
    a {
      display: inline;
      background-color: $primary-color;
      color: white;
      padding: 3% 13%;
      border-radius: 15px;
      color: $white;
      text-decoration: none;
    }
  }
}
