@import "../../index.scss";

.body-container {
  height: 100vh;
  //   background-color: black;
  text-align: center;

  background: linear-gradient(to bottom, $primary-color, $white 80%);

  //   justify-content: space-between;
  //   align-items: center;

  .hero-container {
    // height: max-content;
    svg {
      margin-top: 10em;
    }
  }
  .btn {
    background-color: $primary-color;
    color: white;
    padding: 10px;
    border-radius: 15px;
    margin-top: 13em;

    a {
      color: $white;
      text-decoration: none;
    }
  }
}
