@import "../../index.scss";

.progress-summary {
  //   margin-top: 1em;
  padding: 1em;
  //   color: $white;
  //   background: linear-gradient(
  //     to top left,
  //     $primary-color,
  //     $primary-color,
  //     $primary-color,
  //     $secondary-color
  //   );
  //   color: $white;

  background-color: $primary-color;

  border-radius: 15px;
  .content {
    h1 {
      font-size: 1.5em;
    }
  }
  .progress {
    // height: 100px;
    // border: 1px solid black;
    border-radius: 15px;
    // background-color: $white;

    .progress-bar {
      //   width: 30%;
      height: 1.5em;
      border: none;
      border-radius: 15px;
      background-color: $white;
      color: $primary-color;
    }
  }
}
