@import "../../index.scss";

.progress-summary {
  margin-top: 1em;
  padding: 1em 2em;
  color: white;
  //   background-color: $primary-color;

  background: linear-gradient($primary-color, $secondary-color);
  border-radius: 15px;
  .content {
    h1 {
      font-weight: 500;
      font-size: 1.3em;
    }
  }
  .tasks {
    display: flex;
    justify-content: space-between;
  }
  .progress {
    border-radius: 15px;
    margin-top: 1em;
    background-color: $secondary-color;
    .progress-bar {
      height: 1em;
      border: none;
      border-radius: 15px;
      background-color: $white;
      color: $primary-color;
      transition: 1s;
    }
  }
}
