@import "../../index.scss";

.main-header {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;

  .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
      text-decoration: none;
      color: $black;
    }

    .left-icon,
    .icons {
      display: flex;
      align-items: center;

      svg {
        // fill: $icon-color;
        width: 24px;
        height: 24px;
        margin-right: 8px;
      }
    }

    h1 {
      font-size: 24px;
      margin: 0;
    }
  }

  .btn-container {
    display: flex;
    margin-top: 10px;
    text-align: center;
    justify-content: space-between;

    .all-btns {
      // display: flex;

      .btn {
        color: $white;
        padding: 10px 21px;
        margin-right: 8px;
        border: none;
        border-radius: 15px;
        cursor: pointer;
        font-size: 16px;
        text-decoration: none;

        &:hover {
          background-color: $focus-color;
        }
      }
    }
    .btn,
    a.btn {
      flex: 1;
      background-color: $primary-color;
      color: $white;
      // color: $text-color;
      padding: 10px;
      margin-right: 8px;
      border: none;
      border-radius: 15px;
      cursor: pointer;
      font-size: 16px;
      text-decoration: none; // Added for links

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        background-color: $focus-color;
      }
    }
  }

  // .select-sortby {
  //   select {
  //   }
  // }
}

// Media query for larger screens (optional)
// @media (min-width: 768px) {
//   .main-header {
//     .search-div {
//       background-color: black;
//     }
//   }
// }

@media (min-width: 1024px) {
  .main {
    // width: 80%;
    margin: auto;
    .search-div {
      position: absolute;
      left: 22.5%;
      top: 5%;
      width: 25%;
    }
  }
}

@media (min-width: 1440px) {
  .main {
    .search-div {
      top: 4.5%;
      left: 19%;

      // width: 34%;
    }
  }
}
