@import "../../index.scss";

.main-header {
  //   background-color: $primary-color;
  // color: $text-color;
  padding: 10px;
  display: flex;
  flex-direction: column;

  .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
      text-decoration: none;
      color: $black;
    }

    .left-icon,
    .icons {
      display: flex;
      align-items: center;

      svg {
        // fill: $icon-color;
        width: 24px;
        height: 24px;
        margin-right: 8px;
      }
    }

    h1 {
      font-size: 24px;
      margin: 0;
    }
  }

  .btn-container {
    display: flex;
    margin-top: 10px;
    text-align: center;

    .btn,
    a.btn {
      flex: 1;
      background-color: $primary-color;
      color: $white;
      // color: $text-color;
      padding: 10px;
      margin-right: 8px;
      border: none;
      border-radius: 15px;
      cursor: pointer;
      font-size: 16px;
      text-decoration: none; // Added for links

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        background-color: $focus-color;
      }
    }
  }
}

// Media query for larger screens (optional)
@media (min-width: 768px) {
  .main-header {
    .btn-container {
      margin-top: 0;
    }
  }
}
