@import "../../index.scss";

.todo-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 10px 20px;
  position: relative;
  // background-color: $primary-color;

  .model-confirm {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $white;
    text-align: center;
    // padding: 1em 2em;
    z-index: 10;
    background: rgba(0, 0, 0, 0.5);
    color: $white;

    .model-body {
      position: absolute;
      top: 40%;
      left: 20%;

      .confirm-btns {
        display: flex;

        gap: 1em;
        button {
          width: 100%;
          background-color: $primary-color;
          color: #fff;
          padding: 10px;
          border: none;
          border-radius: 15px;
          cursor: pointer;
          font-size: 16px;
          font-weight: bold;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: $focus-color;
          }
        }
      }
    }
  }

  .errorMessage {
    color: red;
    margin: 0;
  }

  .heading {
    display: flex;
    align-items: center;
    gap: 25%;
    margin-bottom: 20px;

    a {
      text-decoration: none;
      color: $primary-color;
      font-weight: bold;
      transition: color 0.3s ease;

      &:hover {
        color: $focus-color;
      }
    }

    h1 {
      text-align: center;
      margin: 0;
    }
  }

  form {
    label {
      display: block;
      margin-bottom: 10px;

      img {
        width: 8em;
        height: 8em;
        border-radius: 50%;
        // border: 5px solid $black;
        position: relative;
        left: 30%;
        object-fit: cover;

        // width: 30%;
        // height: 30%;
      }

      svg {
        // fill: #fff;
        background-color: #3498db;
        position: absolute;
        left: 53%;
        top: 20%;
        cursor: pointer;
        padding: 5px;
        border-radius: 50%;
      }

      .inp-Img {
        position: absolute;
        top: 10px;
        left: 33%;
        width: 30%;
        height: 15%;
        opacity: 0;
        display: none;
        cursor: pointer;
      }

      p {
        margin: 15px auto;
        font-weight: bold;
        font-size: larger;
      }

      input,
      select,
      #description {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 15px;
        box-sizing: border-box;
        font-size: 16px;

        &:focus {
          outline: none;
          border-color: #3498db;
        }
      }

      .inp-Img {
        // Your file input styling
        // ...

        & + img {
          // Optional styling for the image preview
          max-width: 100%;
          margin-top: 10px;
        }
      }

      button {
        width: 100%;
        background-color: $primary-color;
        color: #fff;
        padding: 10px;
        border: none;
        border-radius: 15px;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: $focus-color;
        }
      }
    }
    .display-btns {
      display: flex;
      gap: 1em;

      .delete {
        background-color: red;
      }
    }
  }
}

@media (min-width: 1024px) {
  .todo-form {
    // margin-top: 10%;
    .heading {
      gap: 35%;
    }
    form {
      label {
        img {
          left: 40%;
        }
        svg {
          left: 55%;
        }
      }
    }
  }
}
