body {
  background-color: #f5f5f5;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

@media (min-width: 1024px) {
  body {
    max-width: 80%;
    margin: auto;
  }
}
.todo-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 10px 20px;
  position: relative;
}
.todo-form .model-confirm {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  text-align: center;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
}
.todo-form .model-confirm .model-body {
  position: absolute;
  top: 40%;
  left: 20%;
}
.todo-form .model-confirm .model-body .confirm-btns {
  display: flex;
  gap: 1em;
}
.todo-form .model-confirm .model-body .confirm-btns button {
  width: 100%;
  background-color: #3787eb;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
.todo-form .model-confirm .model-body .confirm-btns button:hover {
  background-color: #1464c7;
}
.todo-form .errorMessage {
  color: red;
  margin: 0;
}
.todo-form .heading {
  display: flex;
  align-items: center;
  gap: 25%;
  margin-bottom: 20px;
}
.todo-form .heading a {
  text-decoration: none;
  color: #3787eb;
  font-weight: bold;
  transition: color 0.3s ease;
}
.todo-form .heading a:hover {
  color: #1464c7;
}
.todo-form .heading h1 {
  text-align: center;
  margin: 0;
}
.todo-form form label {
  display: block;
  margin-bottom: 10px;
}
.todo-form form label img {
  width: 8em;
  height: 8em;
  border-radius: 50%;
  position: relative;
  left: 30%;
  -o-object-fit: cover;
     object-fit: cover;
}
.todo-form form label svg {
  background-color: #3498db;
  position: absolute;
  left: 53%;
  top: 20%;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
}
.todo-form form label .inp-Img {
  position: absolute;
  top: 10px;
  left: 33%;
  width: 30%;
  height: 15%;
  opacity: 0;
  display: none;
  cursor: pointer;
}
.todo-form form label p {
  margin: 15px auto;
  font-weight: bold;
  font-size: larger;
}
.todo-form form label input,
.todo-form form label select,
.todo-form form label #description {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box;
  font-size: 16px;
}
.todo-form form label input:focus,
.todo-form form label select:focus,
.todo-form form label #description:focus {
  outline: none;
  border-color: #3498db;
}
.todo-form form label .inp-Img + img {
  max-width: 100%;
  margin-top: 10px;
}
.todo-form form label button {
  width: 100%;
  background-color: #3787eb;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
.todo-form form label button:hover {
  background-color: #1464c7;
}
.todo-form form .display-btns {
  display: flex;
  gap: 1em;
}
.todo-form form .display-btns .delete {
  background-color: red;
}

@media (min-width: 1024px) {
  .todo-form .heading {
    gap: 35%;
  }
  .todo-form form {
    margin-top: 7%;
  }
  .todo-form form label img {
    left: 40%;
  }
  .todo-form form label svg {
    top: 22%;
    left: 55%;
  }
}/*# sourceMappingURL=addTodo.css.map */