@import "../../index.scss";
.footer {
  // background-color: blueviolet;
  //   position: fixed;
  //   left: 0;
  //   bottom: 0;
  //   width: 100%;

  //   background-color: white;
  //   text-align: center;

  a {
    .plus-container {
      background-color: #3787eb;
      padding: 1em;
      position: fixed;
      display: inline-block;
      right: 5%;
      bottom: 4%;
      border-radius: 50%;
      box-shadow: 0px 0px 14px -3px rgba(0, 0, 0, 0.75);
      svg {
        position: relative;
        top: 0.1em;
      }
    }
  }
}

@media (min-width: 1024px) {
  .footer {
    a {
      .plus-container {
        right: 11%;
      }
    }
  }
}
