$primary-color: #3787eb;
$focus-color: #1464c7;
$secondary-color: #ecf4fd;
$white: #ffffff;
$black: #000;
$darker: #3d4266;
$gray: #efefef;
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  // margin: 10px 10px;
  padding: 0;
}
